## this is created to send the dataset from local to mongoDB 
## and then use it in project

In [1]:
import pandas as pd
import pymongo

df = pd.read_csv('data.csv')
df.sample(5)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
229940,229941,Female,58,1,39.0,1,1-2 Year,No,28077.0,26.0,254,0
278919,278920,Male,65,1,28.0,0,1-2 Year,Yes,43351.0,26.0,27,0
7191,7192,Female,21,1,15.0,0,< 1 Year,Yes,48654.0,152.0,172,0
141421,141422,Female,53,1,47.0,1,1-2 Year,No,27175.0,30.0,160,0
314837,314838,Male,22,1,10.0,0,< 1 Year,Yes,30163.0,152.0,182,0

In [2]:
df.shape

(381109, 12)

#### df should be converted onto dict before we push it to mongoDB

In [4]:
data = df.to_dict(orient = 'records')

In [5]:
DB_NAME = "Proj1"
COLLECTION_NAME = 'Proj1-Data'

CONNECTION_URL = "mongodb+srv://ay747283:O8fjkikCIEOZAz6x@cluster0.9rqeh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# URL is changed to actual one

In [6]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]

collection = data_base[COLLECTION_NAME]

In [7]:
## Uploading data to MongoDB
rec = collection.insert_many(data)

In [ ]:
# Load back data from mongodb

df = pd.DataFrame(list(collection.find()))
df.head(2)

In [ ]:
## If you are getting timeout issue

# import certifi
# client = pymongo.MongoClient(CONNECTION_URL, tlsCAFile=certifi.where())
# # TO CREATE THE DATABASE
# data_base = client[DB_NAME] 
# collection = data_base[COLLECTION_NAME]
# # TO INSERT DATA INTO THE COLLECTION
# rec = collection.insert_many(data)